.container {
  margin: 0 15%;
}

.header {
  text-align: center;
  margin-bottom: 25px;
  font-size: 20px;
}

.header h1{
  font-size: 45px;
  background: -webkit-linear-gradient(#9fbdf9, #9240f6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.form label{
  cursor: pointer;
}

.form input{
  padding: 12px 20px;
  flex-grow: 0.5;
}

.error{
  margin: 30px 0;
  text-align: center;
  color: red;
  font-size: 25px;
  font-weight: bold;
}

.cardContainer{
  margin-bottom: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.cardContainer .card{
  border: 1px solid silver;
  height: 315px;
  padding: 16px;
  border-radius: 10px;
}

.cardContainer .card img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card .description span {
  display: block;
  margin: 10px 0;
}

.footer{
  text-align: center;
  margin-bottom: 60px;
}

.footer .socialNetwork{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.footer .socialNetwork a{
  color: #528afb;
  font-size: 40px;
}

.footer .socialNetwork a:hover{
  color: #9240f6;
}

@media screen and (max-width: 992px) {
  .container{
    margin: 0 5%;
  }

  .cardContainer{
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 500px) {

  .form{
    display: block;
  }

  .form input{
    width: 100%;
    margin: 15px 0;
  }
  .cardContainer{
    grid-template-columns: auto auto;
  }
}